{% extends 'blog/index.html' %}
{% block content %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="row">
            <h4>Мои подписки</h4>
        </div>
        {% for blog in blogs %}
        <div class="row">
            {{ blog.name }} ({{ blog.user }})<br>
            <p><a href="/unsubscribe/{{ blog.id }}">Отписаться</a></p>
        </div>
        {% endfor %}
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h4>Новости</h4>
        {% for post, reviewed in posts %}
            <h3><a href="/post/get/{{ post.id }}/">{{ post.title }}</a></h3><br>
            Создан: {{ post.created_date }}
            {% if reviewed %} (Прочитан)
            {% else %} (не прочитан)
            {% endif %}
            <br>
            <hr>
        {% endfor %}
    </div>
{% endblock%}