{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    {#<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dopstyle.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Блоги</title>
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                {% if user %}
                    <a class="navbar-brand" href="/auth/logout/">Выйти ({{ user }})</a>
                {% else %}
                    <a href="/auth/login/">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container"><!--{#<div class="container border-container"> #}-->
        <div class="row">
            <h1><a href="/">Блог о технологиях и не только</a></h1>
            <a class="dg-widget-link" href="http://2gis.ru/petrozavodsk/firm/70000001007187095/center/34.339829,61.77523/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Петрозаводска</a><div class="dg-widget-link"><a href="http://2gis.ru/petrozavodsk/center/34.339829,61.77523/zoom/16/routeTab/rsType/bus/to/34.339829,61.77523╎ВирТел, компания?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до ВирТел, компания</a></div><script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":600,"borderColor":"#a3a3a3","pos":{"lat":61.77523,"lon":34.339829,"zoom":16},"opt":{"city":"petrozavodsk"},"org":[{"id":"70000001007187095"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
        </div>
        <div class="row">

                {% block data %}
                {% endblock %}
                {% block login %}
                {% endblock %}
                {% block post %}
                {% endblock%}
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>