{% extends 'base.html' %}

{% block login %}
    <div class="large-offset-3 large-6 columns">
        <form action="/auth/login/" method="post">
            {% csrf_token %}
            <table>
            <tr>
                <th><label for="username">Имя пользователя</label></th>
                <td><input type="text" name="username" id="username"></p></td>
            </tr>
            <tr>
                <th><label for="password">Пароль</label></th>
                <td><input type="password" name="password" id="password"></td>
            </tr>
            </table>
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input class="button" type="submit" value="Войти">
            <div class="label round secondary"><a href="{% url 'register' %}">Регистрация</a></div>
        </form>
    </div>
{% endblock %}